### Datasets updates July 29 2025 ###

In [1]:
import os
import pandas as pd
import numpy as np
import logging

logger = logging.getLogger(__name__)

# Import this module with autoreload
%load_ext autoreload
%autoreload 2
import llmt

In [3]:
# Files and directories
data_dir = os.path.join(os.environ.get('DATA'), 'hcp', 'hcp_update_250729')

# Updated training set
trainset_file_name = 'outpatient_testing_set_5-29-2025.xlsx'

# Load the new training data
df_train_raw = pd.read_excel(os.path.join(data_dir, trainset_file_name))

In [9]:
display(df_train_raw.head(2))
print(df_train_raw.shape)
print(*list(df_train_raw.columns), sep='\n')

,Company ID,Companies,Description,Mental Health,Inpatient,Outpatient,Inpatient (including post-actute/residential)
0,366943-51,Zumbro Valley Health Center,Provider of mental health and community-based ...,1,0,1,0
1,393514-66,Zufall Health Center,Provider of healthcare services. The organizat...,0,0,1,0

(200, 7)
Company ID
Companies
Description
Mental Health
Inpatient
Outpatient
Inpatient (including post-actute/residential)

In [12]:
# Let's get rid of the old columns
df_train = df_train_raw.\
    rename(columns={'Company ID': 'id',
                    'Companies': 'name',
                    'Description': 'description',
                    'Mental Health': 'mental_health',
                    'Inpatient': 'inpatient',
                    'Outpatient': 'outpatient',
                    'Inpatient (including post-actute/residential)': 'inpatient_post'})
display(df_train.head())
print(df_train.shape)
print(len(df_train['id'].unique()))

# Save the data frame
dataset_name = 'outpatient_testing_set_5-29-2025.parquet'
dataset_file = os.path.join(data_dir, dataset_name)
df_train.to_parquet(dataset_file)

,id,name,description,mental_health,inpatient,outpatient,inpatient_post
0,366943-51,Zumbro Valley Health Center,Provider of mental health and community-based ...,1,0,1,0
1,393514-66,Zufall Health Center,Provider of healthcare services. The organizat...,0,0,1,0
2,493425-19,Zocalo Health,Developer of a health-tech platform dedicated ...,1,0,1,0
3,509527-36,ZipDoctor,Operator of telemedicine platform intended to ...,1,0,1,0
4,526713-31,Zinnovate Health Solutions,Provider of healthcare services catering to it...,1,0,1,0

(200, 7)
200

In [13]:
# Count the labels
label_list = ['mental_health', 'inpatient', 'outpatient', 'inpatient_post']
for label in label_list:
    print(label.upper())
    df_label = df_train[label].\
                    value_counts().\
                    to_frame().\
                    reset_index(drop=False).\
                    sort_values(by=label, ascending=False).\
                    reset_index(drop=True)
    display(df_label)

MENTAL_HEALTH

   mental_health  count
0              1    162
1              0     38

INPATIENT

   inpatient  count
0          1      8
1          0    192

OUTPATIENT

   outpatient  count
0           1    154
1           0     46

INPATIENT_POST

   inpatient_post  count
0               1     48
1               0    152