### HCP Performance Evaluation ###

In [1]:
import os
import numpy as np
import pandas as pd
from typing import List

# Binary perfomance metrics
from sklearn.metrics import confusion_matrix

# Import this module with autoreload
%load_ext autoreload
%autoreload 2
import llmt
from llmt.performance import Performance, binary_performance

In [2]:
data_dir = os.path.join(os.environ.get('HOME'), 'home_data', 'hcp')
results_file_name = 'mh_prompt_01_250418.parquet'
results_file = os.path.join(data_dir, results_file_name)
df = pd.read_parquet(results_file)
display(df.head(2))

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_mh_score,refusal
0,100363-69,Chilton Hospital,Operator of inpatient hospital center. The com...,1,1,1,train,1,0.95,None
1,10127-62,Quest Diagnostics (NYS: DGX),Quest Diagnostics is a leading independent pro...,1,0,0,train,0,0.20,None

In [3]:
true_col = 'mental_health'
pred_col = 'pred_mh'

data = df[[true_col, pred_col]].dropna(axis=0)
data = data.loc[data[true_col].isin([0, 1])]

y_true = list(data[true_col].values)
y_pred = list(data[pred_col].values)
y_true = [int(y) for y in y_true]
y_pred = [int(y) for y in y_pred]

# Original performance
performance_dict = binary_performance(y_true=y_true, y_pred=y_pred)
display(performance_dict)
# Performance if we set all prediction to 1 
print()
performance_dict_1 = binary_performance(y_true=y_true, y_pred=np.ones(len(y_pred)))
display(performance_dict_1)

{'p': 136,
 'n': 35,
 'tp': 126,
 'tn': 19,
 'fp': 16,
 'fn': 10,
 'recall': 0.9265,
 'precision': 0.8873,
 'min_precision': 0.7953,
 'specificity': 0.5429,
 'f_score': 0.9065}

{'p': 136,
 'n': 35,
 'tp': 136,
 'tn': 0,
 'fp': 35,
 'fn': 0,
 'recall': 1.0,
 'precision': 0.7953,
 'min_precision': 0.7953,
 'specificity': 0.0,
 'f_score': 0.886}

In [4]:
display(Performance(data=df.copy()).binary_performance(true_col='mental_health', 
                                                       pred_col='pred_mh'))

{'p': 136,
 'n': 35,
 'tp': 126,
 'tn': 19,
 'fp': 16,
 'fn': 10,
 'recall': 0.9265,
 'precision': 0.8873,
 'min_precision': 0.7953,
 'specificity': 0.5429,
 'f_score': 0.9065}

### Evaluate false positives ###

In [5]:
fp_idx = [idx for idx in range(len(y_true)) if (y_true[idx] == 0) & (y_pred[idx] == 1)]
fp_id = df_var.loc[df_var.index.isin(fp_idx), 'id'].values

print(fp_idx)

for company_id in fp_id:
    df_company = df_var.loc[df_var['id'] == company_id]
    display(df_company)
    print(df_company['name'].values[0])
    print(df_company['description'].values[0])
    print()

[12, 17, 19, 21, 23, 26, 28, 50, 62, 81, 83, 86, 93, 98, 150, 169, 170]

,id,name,description,mental_health,predict_mh,predict_mh_score
12,114978-88,Ascellus,Operator of trauma prevention and treatment cl...,0,True,0.9

Ascellus
Operator of trauma prevention and treatment clinics intended to treat employees suffering from chronic pain. The company's clinics deliver customized treatment options, reduce compensation claims costs, and empower injured workers to return to work sooner, enabling doctors and practitioners to restore their physical and emotional well-being.

,id,name,description,mental_health,predict_mh,predict_mh_score
17,124869-43,Holobiome,Operator of a biotechnology company intended t...,0,True,0.85

Holobiome
Operator of a biotechnology company intended to solve the complexities of the human gut microbiome. The company offers mental health therapies that are driven by mapping and manipulating the gut-brain axis via next-generation probiotics through microbiome interventions, enabling healthcare providers to treat diseases related to the nervous system.

,id,name,description,mental_health,predict_mh,predict_mh_score
19,127477-00,Curry Health District,Operator of a healthcare network in Southern O...,0,True,0.85

Curry Health District
Operator of a healthcare network in Southern Oregon, consisting of a hospital and multiple medical clinics. The entity offers emergency care, surgery, and other medical services, and provides a patient portal for easy access to medical records and billing information. Governed by a board of directors.

,id,name,description,mental_health,predict_mh,predict_mh_score
21,129513-07,Coastal Clinical and Management Services,Provider of healthcare staffing and management...,0,True,0.95

Coastal Clinical and Management Services
Provider of healthcare staffing and management services intends to serve military and federal facilities across the country. The company employs physicians, registered nurses, pharmacists, nurse practitioners physician assistants, medical record reviewers, technicians and technologists, medical assistants, dental and lab personnel, counseling and behavioral health personnel, and pharmacy staff

,id,name,description,mental_health,predict_mh,predict_mh_score
23,130635-73,Carisk Partners,Operator of a risk transfer and care coordinat...,0,True,0.85

Carisk Partners
Operator of a risk transfer and care coordination company intended to focus on the workers' compensation market. The company's offerings include risk-transfer and care coordination of delayed recovery and complex, catastrophic cases by leveraging its biopsychosocial methods, extensive networks of quality providers and proprietary technologies, enabling clients to get access to end-to-end remedies to improve outcomes and reduce the long-term cost of care for their clients.

,id,name,description,mental_health,predict_mh,predict_mh_score
26,135432-64,Chicago House And Social Service Agency,"Non-profit organization offering housing, heal...",0,True,0.85

Chicago House And Social Service Agency
Non-profit organization offering housing, health, and employment support to those impacted by HIV/AIDS and the LGBTQ+ community. Services include TransLife Care, HIV testing, case management, and free rapid screenings for HIV, syphilis, and Hepatitis-C. The agency also provides essential health services to vulnerable individuals.

,id,name,description,mental_health,predict_mh,predict_mh_score
28,144253-45,Bon Secours Baltimore Hospital,Operator of a full-service hospital in Baltimo...,0,True,0.9

Bon Secours Baltimore Hospital
Operator of a full-service hospital in Baltimore, Maryland. The company provides primary and emergency care, as well as a host of other services, providing patients with a comprehensive and enhanced plan for all levels of health care services

,id,name,description,mental_health,predict_mh,predict_mh_score
50,182457-55,Synchronous Health,Developer of an artificial intelligence platfo...,0,True,0.95

Synchronous Health
Developer of an artificial intelligence platform designed to reinvent behavioral health care. The company platform uses data analysis and predictive analytics tools that bring together unrelated or inconsequential data and data exhaust to provide real-time insights to identify different patterns of individual behaviors, enabling professionals to predict the client's needs as per their requirements.

,id,name,description,mental_health,predict_mh,predict_mh_score
62,245887-93,Newbeginningslakecharles,The company primarily operates in the Healthca...,0,True,0.85

Newbeginningslakecharles
The company primarily operates in the Healthcare Services industry. Newbeginningslakecharles was founded in 2008 and is headquartered in Lake Charles, LA.

,id,name,description,mental_health,predict_mh,predict_mh_score
81,310749-31,Alima,Operator of a non-governmental organization in...,0,True,0.95

Alima
Operator of a non-governmental organization intended to provide medical care in humanitarian emergency regions. The company specializes in rapid deployment and emergency medical interventions in response to crises such as natural disasters, epidemics, and conflicts and offers primary healthcare, maternal and child services, surgery, nutrition programs, and mental support, enabling vulnerable and underserved populations with clinical care and improving health outcomes.

,id,name,description,mental_health,predict_mh,predict_mh_score
83,314933-95,Bradford Recovery Center,Provider of addiction recovery treatment commi...,0,True,0.95

Bradford Recovery Center
Provider of addiction recovery treatment committed to relieving patients of their substance addiction. The hospital focuses on offering specialized treatment solutions relating to various addictions including alcohol, opioids, cocaine, heroin, disorders and depression while also imparting residential treatment services to patients.

,id,name,description,mental_health,predict_mh,predict_mh_score
86,317430-46,allen county drug and alcohol consortium inc,Advocate for queer youth and substance abuse p...,0,True,0.85

allen county drug and alcohol consortium inc
Advocate for queer youth and substance abuse prevention in Allen County. The organization offers resources, trainings, and support for those affected by substance abuse, as well as programs like Handle with Care and Trauma-Informed Communities, the BRAVE alliance, and Mission: Motherhood. Headquartered in Fort Wayne, Indiana.

,id,name,description,mental_health,predict_mh,predict_mh_score
93,370892-71,Central Jersey Behavioral Health Associates,Central Jersey Behavioral Health Associates is...,0,True,0.95

Central Jersey Behavioral Health Associates
Central Jersey Behavioral Health Associates is a Toms River, NJ based private company whose line of business is General hospital

,id,name,description,mental_health,predict_mh,predict_mh_score
98,401330-26,Colorado Plains Medical Center,Operator of an acute-care hospital based in Fo...,0,True,0.95

Colorado Plains Medical Center
Operator of an acute-care hospital based in Fort Morgan, Colorado. The company's range of diagnostic imaging, rehabilitation and behavioral services includes nuclear medicine, radiography, mammography, general surgery, cardiopulmonary, women care and home health.

,id,name,description,mental_health,predict_mh,predict_mh_score
150,62322-22,Genomind,Operator of a mental health biotechnology comp...,0,True,0.95

Genomind
Operator of a mental health biotechnology company intended to provide personalized mental healthcare and wellness through genetic testing. The company provides a prescription pharmacogenetic test that equips mental health professionals with the tools they need to identify a personalized treatment plan for their patients and offers comprehensive genetic guidance and accurate state-of-the-art digital tools, enabling clinicians to help diagnose or treat psychiatric illnesses.

,id,name,description,mental_health,predict_mh,predict_mh_score
169,97356-34,Referral Solutions Group,Developer of an online platform designed to he...,0,True,0.85

Referral Solutions Group
Developer of an online platform designed to help substance abuse treatment providers promote their services. The company's platform offers comprehensive online resources for those seeking addiction treatment, providing them with the tools they need to make informed decisions and directly access treatment facilities nationwide within their budget.

,id,name,description,mental_health,predict_mh,predict_mh_score
170,97840-81,Vheda Health,Developer of an integrated healthcare platform...,0,True,0.85

Vheda Health
Developer of an integrated healthcare platform designed to manage risk related to chronic conditions through remote monitoring and live outreach. The company's platform uses smartphone-based intensive intervention that combines life and video visits with a care team, remote monitoring from biometrics, and behavior change modification, enabling patients to fight chronic conditions to live their best lives.