### Script to run all prompts on the data set ###

In [1]:
import os
import pandas as pd
import numpy as np
import logging
import time
from pathlib import Path

logger = logging.getLogger(__name__)

# Import this module with autoreload
%load_ext autoreload
%autoreload 2
import llmt
from llmt.llmtools import Prompt
from llmt.llmtools import process_prompt
from llmt.openai import OpenAIModel, OpenAI
from llmt.openai import MentalHealth, OutpatientServices, InpatientServices, create_messages
from llmt.performance import Performance

In [2]:
# Directories and files
data_dir = os.path.join(os.environ.get('HOME'), 'home_data', 'hcp')
experiment_name = 'hcp_experiment_03'
output_dir = os.path.join(data_dir, experiment_name)
Path(output_dir).mkdir(exist_ok=True, parents=True)

test_file_name = 'hcp-alldata-250413.parquet'
test_file = os.path.join(data_dir, test_file_name)
df_all = pd.read_parquet(test_file)
# Filter the labeled data
df_train = df_all.loc[df_all['dset'] == 'train'].\
                reset_index(drop=True).\
                astype({'mental_health': int,
                        'inpatient': int,
                        'outpatient': int})
display(df_train.head())
print(df_train.shape)

,id,name,description,mental_health,inpatient,outpatient,dset
0,431643-07,Actriv,Provider of healthcare staffing services based...,2,0,0,train
1,310749-31,Alima,Operator of a non-governmental organization in...,0,0,0,train
2,162054-28,Apothecare,Provider of pharmacy services intended to prov...,0,0,0,train
3,597285-28,April Health (Clinics/Outpatient Services),Provider of mental health services intended to...,1,0,1,train
4,373978-90,Arise Child and Family Service,Operator of independent living centers caterin...,2,0,0,train

(187, 7)

In [3]:
# Add some additional samples 
test_samples = 0
random_state = 111
df_test = df_all.loc[df_all['mental_health'].isnull()].\
                sample(n=test_samples, replace=False, random_state=random_state).\
                reset_index(drop=True)
# Combine the training and test samples
df = pd.concat([df_train, df_test], axis=0, ignore_index=True).\
                sample(frac=1, random_state=random_state).\
                reset_index(drop=True)
for dset in ['train', 'test']:
    print(f'{dset}: {len(df.loc[df['dset']==dset, 'id'].unique())}')

display(df.head())

train: 187
test: 0

,id,name,description,mental_health,inpatient,outpatient,dset
0,248187-88,River Crest Hospital,Provider of psychiatric diagnostic medical ser...,1.0,1.0,1.0,train
1,127477-00,Curry Health District,Operator of a healthcare network in Southern O...,0.0,1.0,1.0,train
2,11809-18,BrightSpring Health Services (NAS: BTSG),BrightSpring Health Services Inc is a home and...,2.0,0.0,0.0,train
3,144253-45,Bon Secours Baltimore Hospital,Operator of a full-service hospital in Baltimo...,0.0,1.0,1.0,train
4,439172-02,East Tennessee Behavioral Health,Operator of an inpatient behavioral health hos...,1.0,1.0,2.0,train

In [12]:
temperature = 0 
runs = 1
results_file_base = f'250422_mh3ip1op1'

# Run the prompt on all data
company_id_list = sorted(list(df['id'].unique()))
start_time = time.perf_counter()

# Instantiate the model class
model = OpenAIModel()

for run in range(runs):
    execution_time = time.perf_counter() - start_time
    execution_time_min = np.round(execution_time/60, decimals=1)
    print(f'Execution time: {execution_time_min} minutes.')
    results_run_file_name = f'{results_file_base}_{str(run).zfill(2)}.parquet'
    results_run_file = os.path.join(output_dir, results_run_file_name)
    print(f'STARTING RUN {run + 1} / {runs}: {results_run_file_name}')
    results_run_df_list = []
    for c, company_id in enumerate(company_id_list):
        if (c + 1) % 20 == 0:
            print(f'Sending description {c + 1} / {len(company_id_list)} to the model')
    
        df_id = df.loc[df['id'] == company_id]
        name = df_id['name'].values[0]
        description = df_id['description'].values[0]
        
        # Mental health predictions
        response_mh = model.predict_mh(name=name, description=description, version=3, temperature=temperature)
        df_id = df_id.assign(**response_mh)
        
        # Inpatient predictions
        response_ip = model.predict_ip(name=name, description=description, version=1, temperature=temperature)
        df_id = df_id.assign(**response_ip)
        
        # Outpatient predictions
        response_op = model.predict_op(name=name, description=description, version=1, temperature=temperature)
        df_id = df_id.assign(**response_op)

        results_run_df_list.append(df_id)

    # Add the new data frame to the list
    results_run_df = pd.concat(results_run_df_list, axis=0, ignore_index=True)
    results_run_df = results_run_df.assign(temperature=temperature)
    # Save it
    results_run_df.to_parquet(results_run_file)

Execution time: 0.0 minutes.
STARTING RUN 1 / 1: 250422_mh3ip1op1_00.parquet
Sending description 20 / 187 to the model
Sending description 40 / 187 to the model
Sending description 60 / 187 to the model
Sending description 80 / 187 to the model
Sending description 100 / 187 to the model
Sending description 120 / 187 to the model
Sending description 140 / 187 to the model
Sending description 160 / 187 to the model
Sending description 180 / 187 to the model

In [18]:
# Load the data and check the results
# results_file_name = 'inpatient_01_results.parquet'
results_run_file_name = f'{results_file_base}_{str(run).zfill(2)}.parquet'
results_run_file = os.path.join(output_dir, results_run_file_name)
df = pd.read_parquet(results_run_file)

results_train = df.loc[df['dset'] == 'train']

# Mapping true variable and predictions
variable_dict = {'mental_health': 'pred_mh',
                 'inpatient': 'pred_ip',
                 'outpatient': 'pred_op'}

for true_col in variable_dict.keys():
    print(f'PERFORMANCE: {true_col.upper()}')
    stat_dict = Performance(data=df.copy()).\
            binary_performance(true_col=true_col, pred_col=variable_dict.get(true_col))
    stat_df = pd.DataFrame(stat_dict, index=[0])
    display(stat_df)
    print()

PERFORMANCE: MENTAL_HEALTH

,p,n,tp,tn,fp,fn,recall,precision,min_precision,specificity,f_score
0,136,35,110,29,6,26,0.8088,0.9483,0.7953,0.8286,0.873

PERFORMANCE: INPATIENT

,p,n,tp,tn,fp,fn,recall,precision,min_precision,specificity,f_score
0,69,113,68,103,10,1,0.9855,0.8718,0.3791,0.9115,0.9252

PERFORMANCE: OUTPATIENT

,p,n,tp,tn,fp,fn,recall,precision,min_precision,specificity,f_score
0,94,42,76,31,11,18,0.8085,0.8736,0.6912,0.7381,0.8398

### Look at the false negatives which should be positive ###

In [10]:
id_list = df.loc[(df['mental_health'] == 1) & (df['pred_mh'] == 0), 'id']
print(len(id_list))
for company_id in id_list:
    df_id = df.loc[df['id'] == company_id]
    name = df_id['name'].values[0]
    description = df_id['description'].values[0]
    display(df_id)
    print(name.upper())
    print(description)
    print()

41

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
1,10127-62,Quest Diagnostics (NYS: DGX),Quest Diagnostics is a leading independent pro...,1.0,0.0,0.0,train,0,0,0,1,0

QUEST DIAGNOSTICS (NYS: DGX)
Quest Diagnostics is a leading independent provider of diagnostic testing, information, and services in the us. The company generates over 95% of its revenue through clinical testing, anatomic pathology, esoteric testing, and substance abuse testing with specimens collected at its national network of roughly 2,300 patient service centers, as well as multiple doctors offices and hospitals. The firm also runs a much smaller diagnostic solutions segment that provides clinical trials testing, risk-assessment services, and information technology solutions.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
2,10195-21,IASIS Healthcare,Owner and operator of medium-sized acute care ...,1.0,1.0,1.0,train,0,1,1,1,0

IASIS HEALTHCARE
Owner and operator of medium-sized acute care hospitals. The company's hospitals offers highly motivated and compassionate physicians, nurses and other professionals providing value-based services to patients, employers, physicians and payors through their integrated healthcare providers and health plans to improve the quality of life for the communities.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
9,113387-86,PeopleOne Health,Provider of human well-being management servic...,1.0,0.0,2.0,train,0,0,1,1,0

PEOPLEONE HEALTH
Provider of human well-being management services intended to enhance employee health outcomes and reduce healthcare costs. The company's platform offers comprehensive primary care, preventive services, and mental health support, enabling employers to improve workforce productivity while achieving significant savings on healthcare expenses, ultimately fostering a healthier and more engaged employee base.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
22,127911-16,Beaver Dam Community Hospitals,Operator of a community hospital intended to s...,1.0,1.0,1.0,train,0,1,1,1,0

BEAVER DAM COMMUNITY HOSPITALS
Operator of a community hospital intended to serve the healthcare industry. The company operates within the industries of hospitals, inpatient services, managed care, emergency care and other healthcare services for the treatment of epidemic and common diseases.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
33,150801-76,Erlanger Health System,"Operator of the academic system of hospitals, ...",1.0,1.0,1.0,train,0,1,1,1,0

ERLANGER HEALTH SYSTEM
Operator of the academic system of hospitals, physicians, and medical services based in Chattanooga, Tennessee. The company offers children's hospital, comprehensive regional pediatric centre, pre-hospital care and trauma medicine, neurosciences, orthopaedics, surgical services, intensive care, women's care and childbirth, urology, and cancer institute

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
34,151300-27,Espyr,Provider of counseling and mental health suppo...,1.0,0.0,1.0,train,0,0,0,1,0

ESPYR
Provider of counseling and mental health support intended to help people and organizations reach their full potential by supporting mental health. The company focuses on optimizing employee wellness and productivity by identifying and resolving tomorrow's problems, on-site training, critical incident debriefings, and organizational and human resources consultation and addressing behavioral issues that get in the way of personal and organizational performance, enabling them to improve their productivity, morale and health.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
35,151390-36,Davis Regional Medical Center,Operator of a medical care center focused on b...,1.0,1.0,1.0,train,0,1,1,1,0

DAVIS REGIONAL MEDICAL CENTER
Operator of a medical care center focused on behavioral health services. The company offers emergency rooms, obstetrics, surgical services and all outpatient tests and procedures as well as specializes in bariatric care, heart care, maternity care, pharmacy and general medical care services.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
36,151470-91,BeHealth Solutions,Provider of digital health and wellness servic...,1.0,0.0,1.0,train,0,0,0,1,0

BEHEALTH SOLUTIONS
Provider of digital health and wellness services intended to address various behavioral and mental health concerns. The company's engaging and interactive self-help programs incorporate effective cognitive-behavioral techniques that are generally only available through face-to-face visits with specially trained clinicians, enabling patients to get scientifically validated behavioral health programs online and through mobile devices.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
40,166160-44,MentalHappy,Operator of a social networking platform inten...,1.0,0.0,1.0,train,0,0,0,1,0

MENTALHAPPY
Operator of a social networking platform intended to help people improve their emotional well-being through peer support. The company's platform offers a safe space to talk about emotional health and the challenges faced in daily life and receive support, enabling users to get the inspirational help they deserve without financial or physical limitations.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
43,167351-14,Spring Health,Operator of a digital healthcare platform inte...,1.0,0.0,2.0,train,0,0,0,0,0

SPRING HEALTH
Operator of a digital healthcare platform intended to provide personalized mental healthcare for employee well-being. The company's platform uses an assessment and machine-learning technology to understand all of the conditions a person may be experiencing and uses those results to match them to a care plan personalized to their needs, enabling employees to modernize their behavioral health benefits with an effective and comprehensive alternative.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
45,168691-42,Cyft,Developer of a predictive analytics platform d...,1.0,0.0,2.0,train,0,0,0,1,0

CYFT
Developer of a predictive analytics platform designed to turn healthcare data into actionable insights. The company's healthcare-specific machine learning and natural language processing technology with deep operational knowledge to design, implement, and monitor data-driven care management interventions, enable care management organizations to meet the unique needs of chronic or complex, behavioral health and dual-eligible populations.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
54,223998-49,American Academic Health System,Operator of academic and community-based acute...,1.0,1.0,1.0,train,0,1,0,1,0

AMERICAN ACADEMIC HEALTH SYSTEM
Operator of academic and community-based acute care hospitals based in El Segundo, California. The company specializes in working with medical staff, nurses and other providers, enabling community-based organizations to address social determinants of health such as behavioral health issues, lack of access to quality healthcare services, environmental disparities, food scarcity and trauma.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
57,228283-93,HUSK (Other Healthcare Services),Provider of integrated fitness services intend...,1.0,0.0,2.0,train,0,0,0,1,0

HUSK (OTHER HEALTHCARE SERVICES)
Provider of integrated fitness services intended to enhance wellness offerings for corporations and insurers. The company offers tele-nutrition, tele-mental health, tele-physical therapy, wellness rewards and fitness services and has a robust wellness program designed to stabilize mental health as well as wellness marketplace educates and empowers consumers to utilize their low-cost preventive insurance benefits, enabling consumers to invest in their health and wellness.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
60,233045-65,DFusion,Operator of a science based behavioral health ...,1.0,0.0,0.0,train,0,0,0,1,0

DFUSION
Operator of a science based behavioral health research and development company intended to offer consultation services and professional development opportunities n the health and education arenas. The company's services include developing, testing, evaluating, scaling and disseminate systems, enabling users to know and adopt the necessary steps for healthy behavior and also identify the effective strategies to support every stage of the adoption process.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
74,256009-60,Fort HealthCare,"Operator of a hospital and satellite clinics, ...",1.0,1.0,1.0,train,0,1,1,1,0

FORT HEALTHCARE
Operator of a hospital and satellite clinics, providing inpatient care, specialty clinics, emergency services, and more. The entity is fully accredited and partners with other organizations to provide medical care. They conduct an annual Community Health Assessment and offer COVID-19 testing and vaccine information.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
83,288830-53,CuraLinc Healthcare,Provider of mental health and wellbeing progra...,1.0,0.0,2.0,train,0,0,0,0,0

CURALINC HEALTHCARE
Provider of mental health and wellbeing programs catering to the emotional fitness of the patients. The company offers employee assistance programs, text therapy, digital cognitive behavioral therapy, student assistance programs and wellness programs, thereby providing transformative mental health care to clients.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
92,327111-76,MIYO Health,Operator of an online remote educational platf...,1.0,0.0,2.0,train,0,0,0,1,0

MIYO HEALTH
Operator of an online remote educational platform designed to solve challenges in mental health and special education delivery. The company's platform provides school districts with a comprehensive range of technology tools and staffing solutions fostering a supportive and nurturing environment for students and offers an (IEP) individualized education plan compliance platform, teletherapy solutions, mental health screening tools and mental health electronic health record for school districts, enabling therapists with flexible practice management solutions for enterprises delivering mental counseling to patients.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
94,331343-11,Foundation Health Partners,Operator of a chain of hospitals based in Fair...,1.0,1.0,1.0,train,0,1,1,1,0

FOUNDATION HEALTH PARTNERS
Operator of a chain of hospitals based in Fairbanks, Alaska. The company offers hospital inpatient services, clinic or outpatient services and long-term care services.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
109,432793-09,CredibleMind,Operator of a digital mental health self-care ...,1.0,0.0,0.0,train,0,0,0,1,0

CREDIBLEMIND
Operator of a digital mental health self-care and navigation platform designed to help optimize their emotional well-being and spiritual growth. The company's platform provides users with access to all mental health and well-being topics, evidence-based approaches for self-care, and access to curated resources, enabling patients to get curated sets of resources and explore the areas they are interested in.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
111,435729-07,Choosing Therapy,Publisher of mental health information and res...,1.0,0.0,0.0,train,0,0,0,1,0

CHOOSING THERAPY
Publisher of mental health information and resources intended to help people with mental health issues. The company provides information on mental health issues, relationships, wellness, therapy, medication, and more, featuring articles written by licensed therapists and medical professionals and offers reviews of online therapy providers and mental health apps, enabling patients to find appropriate mental health resources

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
113,437425-12,BrainBody,Developer of cognitive analytics platform inte...,1.0,0.0,0.0,train,0,0,0,1,0

BRAINBODY
Developer of cognitive analytics platform intended to quantify exercise-enhanced brain functions. The company's platform uses machine-learning algorithms to predict the optimal exercise prescription and provide individualized and optimized exercise plans, enabling assisted living facilities and gyms to advise their clients for maximizing cerebral functions and to protect against aging, degeneration, and neurodegenerative disease states.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
117,452114-29,Gottman,Operator of an online education platform inten...,1.0,0.0,2.0,train,0,0,0,1,0

GOTTMAN
Operator of an online education platform intended to support and strengthen marriages and relationships. The company offers parenting learning, relationship coaching, family therapy, online learning, couple therapy, seven principles leader training, bringing baby home educator training, and many more services, enabling customers to improve their mental, health, and relationship problems.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
121,465242-50,myPersona,Developer of a health and wellness application...,1.0,0.0,2.0,train,0,0,0,1,0

MYPERSONA
Developer of a health and wellness application designed to improve well-being through proactive, personalized emotional support. The company's technology provides a psychometric assessment that offers detailed insight into the users' overall state of well-being, their current needs, and motivators in life, enabling employees to manage and navigate their everyday emotions through coaching sessions and personal development tools.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
126,482121-91,Family First,Provider of caregiver services intended to nav...,1.0,0.0,1.0,train,0,0,0,1,0

FAMILY FIRST
Provider of caregiver services intended to navigate the challenges of family care. The company offers benefits such as eldercare, child support, counseling, and mental health and enhances communication, accountability, and collaboration between clients, and professional caregivers, enabling families and employers to save time and money, promote peace of mind, and get advocacy for loved ones' needs throughout their caregiving journey.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
127,484367-32,Legion Health,Operator of an AI-driven psychiatric care plat...,1.0,0.0,2.0,train,0,0,1,1,0

LEGION HEALTH
Operator of an AI-driven psychiatric care platform designed to transform patient care through technology. The company's platform allows healthcare providers to see more patients by connecting them to healthcare organizations that want to scale their mental health offerings quickly and provides psychiatric care covered by insurance, enabling organizations to meet their patient's demands as they scale their psychiatric and therapy offerings.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
132,492622-84,Progressive Therapeutics,Developer of novel therapeutics platform inten...,1.0,0.0,2.0,train,0,0,0,1,0

PROGRESSIVE THERAPEUTICS
Developer of novel therapeutics platform intended to offer mental health treatments. The company's platform offers effective therapeutic solutions for various mental health needs of women, enabling women to cure their mental health issues and lead a healthy lifestyle.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
134,494215-66,Canopie,Developer of a mental health care platform des...,1.0,0.0,1.0,train,0,0,0,1,0

CANOPIE
Developer of a mental health care platform designed to prevent and address symptoms of maternal depression and anxiety. The company's platform has adapted cognitive behavioral therapy and compassion-focused treatment from programs supported by randomized control trials, enabling pregnant women and new mothers to prevent and treat common mental health challenges.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
135,496499-14,Syra Health (NAS: SYRA),Syra Health Corp is a healthcare services comp...,1.0,0.0,2.0,train,0,0,0,1,0

SYRA HEALTH (NAS: SYRA)
Syra Health Corp is a healthcare services company promoting preventative health, holistic wellness, health education, and equitable healthcare for all patient demographics. The company leverages deep scientific and healthcare expertise to create strategic frameworks and develop patient-centric solutions for the betterment of patient lives and health outcome linked to developing a healthier population. It strives to offer comprehensive end-to-end solutions in health education services, population health management, behavioral and mental health, healthcare workforce and digital health.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
136,497701-90,PeeqHealth,Provider of behavioral health management servi...,1.0,0.0,1.0,train,0,0,1,1,0

PEEQHEALTH
Provider of behavioral health management services focused on accelerating access to psychiatry and psychotherapy. The company supports network providers to deliver evidence-based care and manage the total cost of behavioral healthcare, across all inpatient and outpatient settings, delivering benefits of real-time access to care, reduced inpatient admissions and lengths of stay while improving the experience of patients and clinicians alike.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
139,500908-96,American Recovery Partners,Developer of an online platform for employees ...,1.0,0.0,2.0,train,0,0,0,1,0

AMERICAN RECOVERY PARTNERS
Developer of an online platform for employees intended to provide and manage outcomes-based behavioral health services. The company's platform offers free and paid memberships providing access to educational resources, community forums, and the ability to schedule therapy sessions, enabling users to connect with others on a similar journey, access professional help, and build a support network.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
141,506878-12,Sanarai,Developer of an online healthcare platform des...,1.0,0.0,2.0,train,0,0,1,1,0

SANARAI
Developer of an online healthcare platform designed to connect the Latino community to mental health professionals. The company's platform provides emotional and personalized accompaniment by experts providing culturally sensitive, Spanish-language emotional support at an accessible price, enabling patients to improve their quality of life with online psychologists at affordable prices.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
143,512384-59,Chimney Trail,Provider of a subscription box intended to hel...,1.0,0.0,0.0,train,0,0,0,1,0

CHIMNEY TRAIL
Provider of a subscription box intended to help parents build resilience in their children through clinically vetted outdoor adventure. The company offers in each box an activity that a mental health professional has clinically vetted and a wilderness adventure to do with kids along with a few objects in the box that could be useful for the activity, enabling businesses and individuals to have a lifelong impact and strengthen the family bond.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
147,523200-34,Boom Journal,Developer of a mental health application inten...,1.0,0.0,0.0,train,0,0,0,1,0

BOOM JOURNAL
Developer of a mental health application intended to support college students in managing their well-being. The company's application prompts users with daily polls and quick mental health quizzes, allowing them to track their mood, journal with AI (Artificial Intelligence) assistance, and access bite-sized mental health tips, enabling users to improve their mental and emotional health in a practical, engaging way.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
148,527052-88,Foundation (Managed Care),Developer of a healthcare platform designed to...,1.0,0.0,2.0,train,0,0,0,0,0

FOUNDATION (MANAGED CARE)
Developer of a healthcare platform designed to provide mental healthcare services. The company's platform helps to connect with licensed therapists, enabling users to get speedy recovery from mental health problems.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
150,539662-96,Forum,Developer of an online peer support group plat...,1.0,0.0,2.0,train,0,0,0,1,0

FORUM
Developer of an online peer support group platform intended to connect with others facing similar challenges, without geographical limitations. The company's platform provides a digital space for people to connect on a range of topics, including grief, loneliness, chronic conditions, caregiving, and relationships, heal and thrive together - without having to leave the comfort of their homes, enabling users to improve their mental health and overcome life challenges.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
157,592534-45,Feeling Great,Developer of a digital healthcare platform des...,1.0,0.0,2.0,train,0,0,0,1,0

FEELING GREAT
Developer of a digital healthcare platform designed for individuals struggling with depression and anxiety. The company's platform offers AI-powered chatbot and interactive courses, self-help exercises, and information about evidence-based treatments, enabling individuals to manage their mental health, develop coping mechanisms, and improve their overall well-being.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
163,616566-43,Inner Peak AI,Developer an AI-powered mental health platform...,1.0,0.0,2.0,train,0,0,0,1,0

INNER PEAK AI
Developer an AI-powered mental health platform intended for personalized assistance. The company's platform blends technology and therapist expertise to deliver personalized support to students 24/7 when counselors are unaffordable or unavailable, it also provides each school with a reporting dashboard, enabling schools to understand the challenges students are facing and track student well-being over time and access quality support at a fraction of the cost of traditional therapy.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
169,638350-66,Ovation (Clinics/Outpatient Services),Operator of a comprehensive workplace mental h...,1.0,0.0,2.0,train,0,0,1,1,0

OVATION (CLINICS/OUTPATIENT SERVICES)
Operator of a comprehensive workplace mental health support network intended to give access to and effectiveness of mental health care. The company offers a range of tools and resources for evidence-based therapy and personalized support, enabling businesses to connect their employees with mental health professionals and manage their well-being through a cohesive platform.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
173,65173-78,Outro Health,Developer of digital health platform designed ...,1.0,0.0,2.0,train,0,0,1,1,0

OUTRO HEALTH
Developer of digital health platform designed to discontinue psychiatric medications and provide a new understanding of mental health, through education and compassionate care. The company offers a comprehensive library, courses for every stage, holistic wellness practices, and access to knowledgeable providers, enabling individuals to safely and effectively manage their antidepressant withdrawal and promote holistic mental well-being.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
176,693780-04,CRH Healthcare (Urgent Care Facilities in Alab...,"Three Urgent Medcare located in Huntsville, Ma...",1.0,0.0,1.0,train,0,0,1,1,0

CRH HEALTHCARE (URGENT CARE FACILITIES IN ALABAMA)
Three Urgent Medcare located in Huntsville, Madison, and Meridianville, Alabama. These urgent cares offer services for illness, injury, diagnostic testing, COVID-19 tests, mental health, and other related healthcare needs, enabling patients to receive convenient and accessible treatment.

,id,name,description,mental_health,inpatient,outpatient,dset,pred_mh,pred_ip,pred_op,verified_op,temperature
180,718216-75,Self (Other Healthcare Technology Systems),Provider of mental health screening services i...,1.0,0.0,1.0,train,0,0,0,1,0

SELF (OTHER HEALTHCARE TECHNOLOGY SYSTEMS)
Provider of mental health screening services intended to improve the quality of mental health care. The company operates in an affiliate model, where they conduct screening for mental health conditions and offers recommendations for suitable service providers to patients, enabling mental health professionals to improve quality of care and reduce customer acquisition costs